.agreement {
  &__title {
    margin-bottom: 25px;
    font-family: $font-family--robotoSlab;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: #121519;
  }

  &__text {
    font-family: $font-family--roboto;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    letter-spacing: 0.05em;
  }

  &__rect {
    @include flex-center;
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 41px;
    cursor: pointer;
    background: #c4c4c4;
    border-radius: 0 20px;
  }

  &__close {
    font-family: $font-family--roboto;
    font-size: 36px;
    line-height: 42px;
    color: #797777;
    transform: rotate(-65.27deg);
  }
}
