<div class="feedback-from">
  <div class="feedback-from__left">

    <div class="feedback-from__wrap">
      <input type="text" class="feedback-from__input" value="Evgenii" placeholder="Name">
      <input type="text" class="feedback-from__input" value="evgen@gmail.com" placeholder="Email">
    </div>

    <textarea class="feedback-from__textarea" placeholder="Введите свое сообщение"></textarea>

  </div>

  <div class="feedback-from__right">
    <div class="feedback-from__list">
      <div class="feedback-from__line">
        {{>icon/icon name="globe" class="feedback-from__icon"}}
        Site address: www.muasiss.com
      </div>
      <div class="feedback-from__line">
        {{>icon/icon name="mail" class="feedback-from__icon"}}
        Email address: info@muasiss.com
      </div>
      <div class="feedback-from__line">
        {{>icon/icon name="file-text" class="feedback-from__icon"}}
        License number: 4598745
      </div>
      <div class="feedback-from__line">
        {{>icon/icon name="watch" class="feedback-from__icon"}}
        Operating time: from 8:00 to 21:00
      </div>
    </div>

    {{>button/button text="Send message" theme="gradient" class="feedback-from__button"}}
  </div>
</div>
