.feedback-from {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__left {
    width: 449px;
    margin-right: 57px;

    @include media('<=desktop') {
      width: 100%;
      margin-right: unset;
    }
  }

  &__wrap {
    display: flex;

    @include media('<=phone') {
      display: block;
    }
  }

  &__input {
    @include reset-input;
    width: 100%;
    height: 35px;
    padding: 0 26px;
    margin-right: 15px;
    font-family: $font-family--roboto;
    font-size: 16px;
    color: #fff;
    background: rgba(196, 196, 196, 0.46);
    border-radius: 10px;

    &:last-child {
      margin-right: unset;
    }

    &::placeholder {
      color: #000;
    }

    @include media('<=desktop') {
      margin-right: unset;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }

  &__textarea {
    @include reset-input;
    width: 100%;
    height: 263px;
    padding: 14px 27px;
    margin-top: 14px;
    font-family: $font-family--roboto;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    resize: none;
    background: #c4c4c4;
    border-radius: 15px;

    &:placeholder {
      color: #797979;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 9px;
    color: #fff;
  }

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
    font-family: $font-family--roboto;
    font-size: 13px;
    color: #fff;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__list {
    margin-bottom: 77px;

    @include media('<=desktop') {
      display: none;
    }
  }

  &__button {
    width: 235px;

    @include media('<=desktop') {
      width: 100%;
      margin-top: 16px;
    }
  }

  @include media('<=desktop') {
    display: block;
  }
}
