.information {
  display: flex;
  margin-bottom: 49px;

  &__left {
    flex-shrink: 0;
    width: 590px;
    margin-right: 60px;

    @include media('<=desktop') {
      width: 100%;
      margin-top: 32px;
      margin-right: unset;
    }
  }

  &__line {
    @include flex-between;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 25px;
    font-family: $font-family--roboto;
    font-size: 20px;
    color: #000;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-bottom: 1px solid #c4c4c4;

    &:last-child {
      border-bottom: unset;
    }

    @include media('<=phone') {
      padding-top: 17px;
      padding-bottom: 17px;
      font-size: 18px;
      line-height: 140%;
    }
  }

  &__plus {
    width: 15px;
    margin-left: 10px;
    font-family: $font-family--robotoSlab;
    font-size: 24px;
    color: #606060;
    letter-spacing: 0.05em;
  }

  &__right {
    width: 100%;
  }

  &__user-message {
    @include box-max-content;
    @include flex-center;
    position: relative;
    min-width: 404px;
    height: 71px;
    padding: 0 30px;
    margin-bottom: 39px;
    font-family: $font-family--roboto;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05em;
    background: #557fb0;
    border-radius: 20px;

    @include media('<=phone') {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &__arrow-min {
    position: absolute;
    top: calc(100% - 1px);
    left: 61px;
    width: 23px;
    height: 19px;
    color: #547fb0;
  }

  &__arrow-big {
    position: absolute;
    top: calc(100% - 1px);
    right: 61px;
    width: 31px;
    height: 27px;
    color: #0e73ad;
  }

  &__support-message {
    position: relative;
    width: 100%;
    padding: 22px 20px 34px 34px;
    font-family: $font-family--roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    color: #fff;
    letter-spacing: 0.05em;
    background: #0e73ad;
    border-radius: 20px;

    b {
      font-weight: bold;
    }
  }

  &__support-text {
    font-size: 16px;
    line-height: 19px;
  }

  @include media('<=desktop') {
    flex-direction: column-reverse;
  }
}
