<div class="information">
  <div class="information__left">
    <div class="information__line" data-answer="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.">
      <span class="js-line-user-question">What is Muasiss?</span>
      <span class="information__plus">-</span>
    </div>

    <div class="information__line" data-answer="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.">
      <span class="js-line-user-question">Where my money will be transferred?</span>
      <span class="information__plus">+</span>
    </div>

    <div class="information__line" data-answer="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.">
      <span class="js-line-user-question">What is the minimum deposit limit?</span>
      <span class="information__plus">+</span>
    </div>

    <div class="information__line" data-answer="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.">
      <span class="js-line-user-question">How much is the average income?</span>
      <span class="information__plus">+</span>
    </div>

    <div class="information__line" data-answer="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.">
      <span class="js-line-user-question">Does high interest always mean high risks?</span>
      <span class="information__plus">+</span>
    </div>

    <div class="information__line" data-answer="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.">
      <span class="js-line-user-question">How to invest on Muasiss</span>
      <span class="information__plus">+</span>
    </div>

    <div class="information__line" data-answer="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.">
      <span class="js-line-user-question">How to invest on Muasiss</span>
      <span class="information__plus">+</span>
    </div>
  </div>

  <div class="information__right">
    <div class="information__user-message">
      <span class="js-answer-user">What is Muasiss?</span>

      {{>icon/icon name="message-arrow-min" class="information__arrow-min"}}
    </div>

    <div class="information__support-message">
      <b>#Support</b>
      <br><br>
      <p class="information__support-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

      {{>icon/icon name="message-arrow-big" class="information__arrow-big"}}
    </div>
  </div>
</div>
