<div class="mobile-menu">
  <div class="mobile-menu__inner">
    {{#if isProfile}}
      <div class="mobile-menu__ext-inner">
        <div class="mobile-menu__line">
          <div class="mobile-menu__limit">Working online: 100 days</div>
        </div>

        <div class="mobile-menu__line">
          <div class="profile-header__wrap profile-header__wrap--block">
            <div class="profile-header__text">Balance:</div>
            <div class="profile-header__box profile-header__box--menu">
              <div class="profile-header__value">$100.00</div>
              <div class="profile-header__currency">USD</div>
            </div>
          </div>
        </div>

        <div class="mobile-menu__line">
          <div class="profile-header__wrap">
            <div class="profile-header__info">
              <div class="profile-header__text">Invested: $0.00</div>
              <div class="profile-header__text">Earned: $0.00</div>
            </div>
          </div>
        </div>

        <div class="mobile-menu__line">
          <div class="profile-header__wrap">
            <div class="profile-header__info">
              <div class="profile-header__text">Partner: Username</div>
              <div class="profile-header__text">Registration data: 10.10.2020</div>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="mobile-menu__list">
        <a href="#Financial-model" class="mobile-menu__link">Financial model</a>
        <a href="#FAQ" class="mobile-menu__link">FAQ</a>
        <a href="#Support" class="mobile-menu__link">Support</a>
        <a href="#Rules" class="mobile-menu__link">Rules</a>
        <a href="#Team" class="mobile-menu__link">Team</a>
      </div>

      <div class="mobile-menu__footer">
        {{>button/button data="register" class="js-open-pop mobile-menu__button" text="Create account" theme="gradient-grey-mobile"}}
        {{>button/button data="login" class="js-open-pop mobile-menu__button" text="Log in" theme="gradient-blue-mobile"}}
      </div>
    {{/if}}
  </div>
</div>
