.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.2s height ease-out;

  @include media('>desktop') {
    display: none;
  }

  &__line {
    padding: 8px 0;
  }

  &__inner {
    padding: 8px 12px;
    background-color: #020d0f;
    border-top: 1px solid #fff;
  }

  &__link {
    display: block;
    padding: 8px 0;
    font-family: $font-family--roboto;
    font-size: 18px;
    color: #eee;
    cursor: pointer;
  }

  &__list {
    margin-bottom: 12px;
  }

  &__button {
    width: 100%;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__limit {
    font-family: $font-family--roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #adff00;
  }

  &__ext-inner {
    @extend %inner;
  }
}
