// Подключение библиотек
@import '~reset-css';
@import '~include-media/dist/include-media';
// ---

// Подключение рабочих файлов
@import 'variables/variables';
@import 'mixins/mixins';
@import 'fonts/fonts';
@import 'functions/functions';
@import 'extends/extends';
// ---

// Подключение компонентов
@import 'components';
// ---

// Подключение страниц
@import 'pages';
// ---

* {
  box-sizing: border-box;
}

a {
  @include reset-link;
}

body,
html {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}
