.button {
  @include transition-all;
  @include reset-button;
  @include flex-center;
  @include box-max-content;
  font-family: $font-family--roboto;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &__send {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: #fff;
  }

  &__arrow {
    width: 19px;
    height: 16px;
    margin-left: 11px;
    color: #fff;
  }

  &_theme_gradient-grey,
  &_theme_gradient-grey-mobile {
    height: 33px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    color: #23262b;
    background: linear-gradient(90deg, #c4c4c4 0%, rgba(196, 196, 196, 0) 152.94%);
    border-radius: 7px 0 0 7px;
  }

  &_theme_gradient-blue,
  &_theme_gradient-blue-mobile {
    height: 33px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    color: #eee;
    background: linear-gradient(270deg, #1985c5 0%, rgba(99, 99, 99, 0) 285.81%);
    border-radius: 0 7px 7px 0;
  }

  &_theme_gradient-grey-mobile,
  &_theme_gradient-blue-mobile {
    border-radius: 7px;
  }

  &_theme_dark {
    height: 50px;
    padding: 0 66px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #eee;
    background: linear-gradient(90.79deg, #030e0f -17.64%, rgba(196, 196, 196, 0) 480.97%);
    border-radius: 30px;
  }

  &_theme_blue {
    height: 46px;
    padding: 0 60px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: #1985c6;
    border-radius: 15px;
  }

  &_theme_send {
    height: 54px;
    padding: 0 42px 0 32px;
    font-size: 18px;
    color: #fff;
    background: #1985c6;
    border-radius: 15px;
  }

  &_theme_form {
    width: 186px;
    height: 52px;
    font-family: $font-family--robotoSlab;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: #127ab5;
    border-radius: 26px;
  }

  &_theme_gradient {
    height: 43px;
    padding: 0 34px;
    font-family: $font-family--roboto;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(92.48deg, #328342 0%, #208196 61.27%, #1981b5 123.83%);
    border-radius: 10px;
  }
}
