<button class="button button_theme_{{theme}} {{class}}" data-out="{{data}}">
  {{#if send}}
    {{>icon/icon name="send" class="button__send"}}
  {{/if}}

  {{text}}

  {{#if arrow}}
    {{>icon/icon name="arrow-light-right" class="button__arrow"}}
  {{/if}}
</button>
