.static-box {
  position: relative;
  width: 385px;
  overflow: hidden;
  background: linear-gradient(124.07deg, rgba(0, 0, 0, 0.2) 2.84%, #fff 92.39%, #fff 92.4%);
  border-radius: 20px;
  $self: &;

  &__top {
    padding: 23px 43px 20px 43px;
  }

  &__line {
    margin-bottom: 13px;
    font-family: $font-family--robotoSlab;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    color: #000;
    letter-spacing: 0.05em;

    &:last-child {
      margin-bottom: unset;
    }

    b {
      font-weight: bold;
    }
  }

  &__bottom {
    @include flex-center;
    width: 100%;
    height: 79px;
    font-family: $font-family--robotoSlab;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    text-align: center;
    letter-spacing: 0.05em;
    background: #c4c4c4;
  }

  &__overlay {
    @include position-fill;
    @include flex-center;
    position: absolute;
    display: none;
    background: linear-gradient(127.87deg, rgba(0, 0, 0, 0.6) 2.14%, rgba(21, 25, 30, 0.6) 115.68%);
    border-radius: 19px;
    backdrop-filter: blur(9px);
  }

  &__title {
    font-family: $font-family--robotoSlab;
    font-size: 36px;
    font-weight: bold;
    line-height: 35px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.05em;
  }

  &__text {
    position: absolute;
    right: 25px;
    bottom: 19px;
    font-family: $font-family--tradeWinds;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;

    &--x5 {
      color: #ffae12;
    }

    &--x10 {
      color: #128dff;
    }
  }

  @include media('<=desktop') {
    width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &--overlay {
    #{$self}__overlay {
      display: flex;
    }
  }
}
