<div class="static-box">
  <div class="static-box__top">
    <div class="static-box__line"><b>Deposit</b>: from 0.2% to 2%</div>
    <div class="static-box__line"><b>Term</b>: 88 days</div>
    <div class="static-box__line"><b>Min-Deposit</b>: 50$</div>
    <div class="static-box__line"><b>Max-Deposit</b>: 1000$</div>
    <div class="static-box__line"><b>Early withdrawal</b>: Yes</div>
  </div>

  <div class="static-box__bottom">
    Refund of the Deposit<br>
    at the end of the term
  </div>

  <div class="static-box__overlay">
    <h6 class="static-box__title">
      Closed<br>
      Until 2021
    </h6>
  </div>
</div>
<div class="static-box static-box--overlay">
  <div class="static-box__top">
    <div class="static-box__line"><b>Deposit</b>: from 0.2% to 2%</div>
    <div class="static-box__line"><b>Term</b>: 88 days</div>
    <div class="static-box__line"><b>Min-Deposit</b>: 50$</div>
    <div class="static-box__line"><b>Max-Deposit</b>: 1000$</div>
    <div class="static-box__line"><b>Early withdrawal</b>: Yes</div>
  </div>

  <div class="static-box__bottom">
    Refund of the Deposit<br>
    at the end of the term
  </div>

  <div class="static-box__overlay">
    <h6 class="static-box__title">
      Closed<br>
      Until 2021
    </h6>

    <div class="static-box__text static-box__text--x5">
      X5 profit<br>
      guarantee
    </div>
  </div>
</div>
<div class="static-box static-box--overlay">
  <div class="static-box__top">
    <div class="static-box__line"><b>Deposit</b>: from 0.2% to 2%</div>
    <div class="static-box__line"><b>Term</b>: 88 days</div>
    <div class="static-box__line"><b>Min-Deposit</b>: 50$</div>
    <div class="static-box__line"><b>Max-Deposit</b>: 1000$</div>
    <div class="static-box__line"><b>Early withdrawal</b>: Yes</div>
  </div>

  <div class="static-box__bottom">
    Refund of the Deposit<br>
    at the end of the term
  </div>

  <div class="static-box__overlay">
    <h6 class="static-box__title">
      Closed<br>
      Until 2021
    </h6>

    <div class="static-box__text static-box__text--x10">
      X10 profit<br>
      guarantee
    </div>
  </div>
</div>
