.profile {
  @include background-image;
  width: 100%;
  padding: 33px 0 16px 0;
  background-image: url('/assets/images/back-lk.jpg');

  &__list {
    display: flex;
    margin-bottom: 38px;

    @include media('<=desktop') {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -6px;
    }
  }

  &__wrapper {
    overflow: unset;
  }

  &__link {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 104px;
    margin-right: 6px;
    font-family: $font-family--roboto;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    background: #c4c4c4;
    border-radius: 14px;
    transition: 200ms opacity;

    &:last-child {
      margin-right: unset;
    }

    &:hover:not(&--active) {
      opacity: 0.8;
    }

    &--active {
      color: #fff;
      background: linear-gradient(111.88deg, #318344 2.96%, #228999 54.37%, #0879a5 101.89%);
    }

    @include media('<=desktop') {
      flex-direction: row-reverse;
      width: max-content;
      height: unset;
      padding: 6px;
      margin: 6px 6px 0 6px;
      white-space: nowrap;
      border-radius: 8px;
    }
  }

  &__icon {
    width: 27px;
    height: 27px;
    margin-bottom: 20px;

    @include media('<=desktop') {
      width: 18px;
      height: 18px;
      margin-bottom: unset;
      margin-left: 10px;
    }
  }

  &__inner {
    @include background-image;
    min-height: 541px;
    padding-top: 69px;
    background-image: url('/assets/images/lk-back-inner.png');
    background-position: center top;
    background-size: contain;

    @include media('<=desktop') {
      min-height: unset;
      padding: 32px 8px;
      background-color: rgba(2, 13, 15, 0.7);
      background-image: unset;
      border-radius: 15px;
    }
  }

  &__title {
    margin-bottom: 70px;
    font-family: $font-family--robotoSlab;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    text-align: center;

    &_mb_47 {
      margin-bottom: 47px;
    }
  }

  &__page {
    display: none;

    &--open {
      display: block;
    }
  }
}
