<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Muasiss | Profile</title>
</head>
<body>
{{>profile-header/profile-header}}

<div class="profile">
  {{#>wrapper/wrapper class="profile__wrapper"}}
    <div class="profile__list">
      <a href="#" data-link="page-1" class="profile__link profile__link--active">
        {{>icon/icon name="trending-down" class="profile__icon"}}
        Replenishment
      </a>

      <a href="#" data-link="page-2" class="profile__link">
        {{>icon/icon name="trending-up" class="profile__icon"}}
        Withdraw funds
      </a>

      <a href="#" data-link="page-3" class="profile__link">
        {{>icon/icon name="dollar-sign" class="profile__icon"}}
        Open deposit
      </a>

      <a href="#" data-link="page-4" class="profile__link">
        {{>icon/icon name="users" class="profile__icon"}}
        Referral program
      </a>

      <a href="#" data-link="page-5" class="profile__link">
        {{>icon/icon name="message" class="profile__icon"}}
        Support
      </a>

      <a href="#" data-link="page-6" class="profile__link">
        {{>icon/icon name="settings" class="profile__icon"}}
        Settings
      </a>

      <a href="#" class="profile__link js-exit">
        {{>icon/icon name="log-out" class="profile__icon"}}
        Log out
      </a>
    </div>

    <div class="profile__inner">

      <div data-page="page-1" class="profile__page profile__page--open">
        <div class="profile__title">Balance replenishment</div>

        {{>replenishment/replenishment}}
      </div>

      <div data-page="page-2" class="profile__page">
        <div class="profile__title">Withdraw profit</div>

        {{>withdraw/withdraw}}
      </div>

      <div data-page="page-3" class="profile__page">
        <div class="profile__title profile__title_mb_47">Open deposit</div>

        {{>deposit/deposit}}
      </div>

      <div data-page="page-4" class="profile__page">
        <div class="profile__title">Affiliate program</div>

        {{>referal/referal}}
      </div>

      <div data-page="page-5" class="profile__page">
        <div class="profile__title">Feedback from</div>

        {{>feedback-from/feedback-from}}
      </div>

      <div data-page="page-6" class="profile__page">
        <div class="profile__title">Personal account settings</div>

        {{>account/account}}
      </div>
    </div>
  {{/wrapper/wrapper}}
</div>

{{>footer/footer isProfile="true"}}

{{>reset/reset}}
</body>
</html>

