<div class="list-features">
  {{#>wrapper/wrapper class="list-features__wrapper"}}
    <div class="list-features__list">
      <div class="list-features__item">
        <div class="list-features__wrap">
          <img class="list-features__image" src="/assets/images/internet.png" alt="internet.png">
          <h3 class="list-features__title">
            Perspective
          </h3>
        </div>

        <div class="list-features__text">
          Unique development model<br> international mutual assistance.
        </div>
      </div>

      <div class="list-features__item">
        <div class="list-features__wrap">
          <img class="list-features__image" src="/assets/images/graph.png" alt="graph.png">
          <h3 class="list-features__title">
            Reliability
          </h3>
        </div>

        <div class="list-features__text">
          Long term<br> with an experienced market player.
        </div>
      </div>

      <div class="list-features__item">
        <div class="list-features__wrap">
          <img class="list-features__image" src="/assets/images/coin.png" alt="coin.png">
          <h3 class="list-features__title">
            Real instrument
          </h3>
        </div>

        <div class="list-features__text">
          Bank inflow +40%<br> from the cryptocurrency market.
        </div>
      </div>

      <div class="list-features__item">
        <div class="list-features__wrap">
          <img class="list-features__image" src="/assets/images/invest.png" alt="invest.png">
          <h3 class="list-features__title">
            Bonus income
          </h3>
        </div>

        <div class="list-features__text">
          Partner program<br> with prospects of good checks!
        </div>
      </div>
    </div>
  {{/wrapper/wrapper}}
</div>
