.list-features {
  &__wrapper {
    padding-top: 40px;
    padding-bottom: 50px;
    background: linear-gradient(90deg, #030f0f 0.63%, #030e10 99.12%);
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media('<=desktop') {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -40px;
    }
  }

  &__item {
    @include media('<=desktop') {
      margin: 40px 20px 0 20px;
    }
  }

  &__wrap {
    @include box-max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__title {
    font-family: $font-family--roboto;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    color: #fff;
  }

  &__image {
    position: absolute;
    right: calc(100% + 20px);
  }

  &__text {
    margin-top: 19px;
    font-family: $font-family--roboto;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-align: center;
  }
}
