@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/Roboto-Black.ttf');
}
