@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/RobotoSlab-Bold.ttf');
}
