.recaptcha {
  @include flex-center;
  width: 188px;
  height: 52px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;

  &__text {
    font-family: $font-family--robotoSlab;
    font-size: 11px;
    color: #737373;
  }

  &__box {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    background: #c4c4c4;
    border-radius: 4px;
  }
}
