<div class="deposit">

  <div class="deposit__line">
    {{>wrap-input/wrap-input isBalance="true" title="Amout $" value="$50.00" class="deposit__input"}}
    {{>wrap-input/wrap-input title="Tariff plan" value="$50.00" class="deposit__input"}}
    {{>wrap-input/wrap-input isButton="true" title="&nbsp;" value="Open deposit" class="deposit__input deposit__input--button"}}
  </div>


  <div class="deposit__wrap-table">
    {{>green-table/green-table class="deposit__tablet"}}
  </div>
</div>
