.deposit {
  &__line {
    @include flex-center;
    margin-bottom: 46px;

    @include media('<=desktop') {
      display: block;
    }
  }

  &__input {
    width: 283px;
    margin-right: 22px;

    &:last-child {
      margin-right: unset;
    }

    &--button {
      width: 183px;
    }

    @include media('<=desktop') {
      width: 100%;
      margin-right: unset;
      margin-bottom: 18px;
    }
  }

  &__tablet {
    width: 794px;
    margin: 0 auto;

    @include media('<=desktop') {
      width: 100%;
      min-width: max-content;
    }
  }

  &__wrap-table {
    @include media('<=desktop') {
      width: calc(100% + 8px + 8px);
      margin-left: -8px;
      overflow: auto;
    }
  }
}
