<div class="language language--close">
  <div class="language__wrap js-open-language-panel">
    <img src="/assets/images/en.jpg" alt="en.jpg" class="language__image">
    <div class="language__text">EN</div>
    {{>icon/icon name="arrow-bottom" class="language__arrow"}}
  </div>

  <div class="language__panel">
    <div class="language__wrap language__wrap--panel">
      <img src="/assets/images/ru.jpg" alt="ru.jpg" class="language__image">
      <div class="language__text">RU</div>
    </div>

    <div class="language__wrap language__wrap--panel">
      <img src="/assets/images/de.jpg" alt="de.jpg" class="language__image">
      <div class="language__text">DE</div>
    </div>

    <div class="language__wrap language__wrap--panel">
      <img src="/assets/images/jp.jpg" alt="jp.jpg" class="language__image">
      <div class="language__text">JA</div>
    </div>
  </div>
</div>
