.language {
  @include box-max-content;
  @include no-select;
  position: relative;
  $self: &;

  &__image {
    @include circle;
    width: 22px;
    height: auto;
  }

  &__wrap {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--panel {
      margin-right: 8px;

      &:last-child {
        margin-right: unset;
      }
    }
  }

  &__text {
    margin-left: 6px;
    font-family: $font-family--roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #eee;
  }

  &__arrow {
    @include transition-all;
    width: 7px;
    height: 7px;
    margin-left: 4px;
    color: #fff;
    transform: rotate(0);
  }

  &__panel {
    @include transition-all;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 17px;
    transform: translateX(-50%);

    @include media('<=desktop') {
      top: calc(100% + 30px);
      right: 0;
      left: unset;
      transform: translateX(0);
    }
  }

  &--close {
    #{$self}__panel {
      top: calc(100% + 30px);
      pointer-events: none;
      opacity: 0;
    }

    #{$self}__arrow {
      transform: rotate(-90deg);
    }
  }
}
