<div class="popup js-reset-{{reset}}" data-in="{{data}}">
  <div class="popup__content popup__content_theme_{{popupTheme}}">
    {{#if @partial-block}}
      {{>@partial-block}}
    {{/if}}
  </div>
</div>
