.popup {
  @include position-fill;
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 60px 15px;
  overflow-y: scroll;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  $self: &;

  &__content {
    @include background-image;
    position: relative;
    width: 356px;
    padding: 22px 37px 37px 37px;
    background-color: #c4c4c4;
    background-image: url('/assets/images/popup.png');
    border-radius: 16px;
    transform: translateY(150px);

    &_theme_agreement {
      width: 100%;
      max-width: 934px;
      padding: 44px 60px;
      border-radius: 20px;

      @include media('<=tablet') {
        padding: 12px 20px;
      }
    }
  }

  &--open {
    @include transition-all;
    pointer-events: unset;
    opacity: 1;

    #{$self}__content {
      transform: translateY(0);
    }

    #{$self}__content {
      @include transition-all;
    }
  }
}
