.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    @include media('<=desktop') {
      width: 60px;
    }
  }

  &__text {
    font-family: $font-family--robotoSlab;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: #eee;

    @include media('<=desktop') {
      display: none;
    }
  }

  &__right {
    position: absolute;
    top: 9px;
    right: -42px;

    @include media('<=desktop') {
      display: none;
    }
  }

  &__small-text {
    font-family: $font-family--robotoMono;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    color: #eee;
    letter-spacing: -0.045em;

    &--two {
      position: relative;
      left: 11px;
    }
  }
}
