<div class="logo">
  <img class="logo__image" src="/assets/images/logo.png" alt="logo.png">
  <div class="logo__text">Muasiss</div>

  <div class="logo__right">
    <div class="logo__small-text">Mutual</div>
    <div class="logo__small-text logo__small-text--two">Assistance</div>
  </div>
</div>
