.select {
  @include no-select;
  position: relative;
  width: 100%;
  cursor: pointer;
  $self: &;

  &__input {
    @include reset-input;
    width: 100%;
    height: 43px;
    padding: 0 40px 0 16px;
    font-family: $font-family--roboto;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    background: #c4c4c4;
    border-radius: 10px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 13px;
    height: 13px;
    color: #000;
    transform: translateY(-50%);
  }

  &__menu {
    position: absolute;
    top: -4px;
    left: calc(100% + 19px);
    display: none;

    @include media('<=desktop') {
      top: calc(100% + 25px);
      left: 0;
    }
  }

  &__link {
    display: block;
    padding: 6px 8px 4px 10px;
    margin-bottom: 10px;
    font-family: $font-family--roboto;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    border-radius: 10px;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &--open {
    #{$self}__menu {
      display: block;
    }

    #{$self}__icon {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}
