<label class="select">
  <input type="text" class="select__input" value="Bitcoin BTC" disabled>
  {{>icon/icon name="arrow-bottom" class="select__icon"}}

  <span class="select__menu">
    <span class="select__link">Perfect Momey USD</span>
    <span class="select__link">Payeer USD</span>
    <span class="select__link">Bitcoin BTC</span>
    <span class="select__link">Litecoin LTC</span>
    <span class="select__link">Dash DSH</span>
    <span class="select__link">Monero XMR</span>
    <span class="select__link">Zcash ZEC</span>
    <span class="select__link">Ripple XRP</span>
  </span>
</label>
