.team {
  display: flex;
  justify-content: space-between;

  &__wrap {
    @include box-min-content;

    @include media('<=desktop') {
      margin: 20px 20px 0 20px;
    }
  }

  &__image {
    @include background-image;
    @include circle;
    width: 246px;
    height: 246px;
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 36px;
    font-family: $font-family--robotoSlab;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

  &__desc {
    font-family: $font-family--roboto;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-align: center;
  }

  @include media('<=desktop') {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
  }
}
