<div class="team">

  <div class="team__wrap">
    <div class="team__image" style="background-image: url('/assets/images/team-1.jpg');"></div>
    <h6 class="team__title">Murchano Pavaroti</h6>
    <div class="team__desc">Specialist in management of crypto-currencies on different exchanges</div>
  </div>

  <div class="team__wrap">
    <div class="team__image" style="background-image: url('/assets/images/team-2.jpg');"></div>
    <h6 class="team__title">Marinela Babucha</h6>
    <div class="team__desc">Specialist in management of crypto-currencies on different exchanges</div>
  </div>

  <div class="team__wrap">
    <div class="team__image" style="background-image: url('/assets/images/team-3.jpg');"></div>
    <h6 class="team__title">Voznik Stiven</h6>
    <div class="team__desc">Specialist in management of crypto-currencies on different exchanges</div>
  </div>

  <div class="team__wrap">
    <div class="team__image" style="background-image: url('/assets/images/team-4.jpg');"></div>
    <h6 class="team__title">Marck Kvashevick</h6>
    <div class="team__desc">Specialist in management of crypto-currencies on different exchanges</div>
  </div>

</div>
