.index {
  &__back {
    @include background-image;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 192px;
    background-image: url('/assets/images/back.jpg');
  }

  &__title {
    margin-bottom: 14px;
    font-family: $font-family--robotoSlab;
    font-size: 36px;
    font-weight: bold;
    line-height: 47px;
    color: #121519;

    @include media('<=phone') {
      font-size: 29px;
      line-height: 35px;
    }
  }

  &__desc {
    font-family: $font-family--roboto;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    letter-spacing: 0.05em;

    @include media('<=phone') {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__list-static {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    margin-bottom: 52px;
  }

  &__small-title {
    font-family: $font-family--robotoSlab;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    color: #000;
    letter-spacing: 0.05em;

    &_mb_21 {
      margin-bottom: 21px;
    }

    &_mb_49 {
      margin-bottom: 49px;
    }

    &--mobile {
      @include media('<=phone') {
        margin-bottom: 12px;
      }
    }

    @include media('<=phone') {
      font-size: 33px;
      line-height: 38px;
    }
  }

  &__long-text {
    margin-bottom: 110px;
    font-family: $font-family--roboto;
    font-size: 18px;
    line-height: 23px;
    color: #000;
  }

  &__list-static {
    @include media('<=desktop') {
      display: block;
    }
  }
}
