{{#>_template/_template}}
  <div class="index">
    {{>list-features/list-features}}

    <div class="index__back">
      {{#>wrapper/wrapper}}
        <a id="Financial-model"></a>
        <h2 data-anchor="#Financial-model" class="index__title">Financial model of the Projecta</h2>

        <p class="index__desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc
        </p>

        <div class="index__list-static">
          {{>static-box/static-box}}
        </div>

        <p class="index__desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenvean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
        </p>

        {{>statics/statics}}

        <a id="FAQ"></a>
        <h2 class="index__small-title index__small-title_mb_21">Ability to invest from payment systems</h2>
        <div class="index__desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
          <br><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
        </div>

        {{>list-btc/list-btc}}

        <a id="Support"></a>
        <h2 class="index__small-title index__small-title_mb_49">Nneed more information to get started?</h2>

        {{>information/information}}

        <h2 class="index__small-title index__small-title_mb_49">Investment resources write about us</h2>

        {{>about-us/about-us}}

        <h2 class="index__small-title index__small-title--mobile">I want to invest!</h2>

        <div class="index__desc">
          All deals with Muasiss are secured with BuyBack guarantee
        </div>

        {{>invest/invest}}

        <h2 class="index__small-title index__small-title_mb_49">Support Feedback</h2>

        {{>feedback/feedback}}

        <a id="Rules"></a>
        <h2 class="index__small-title index__small-title_mb_49">Rules & Agreements</h2>

        <div class="index__long-text">
          Please read the following rules carefully before signing in.
          <br><br>
          You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.
          <br><br>
          Funds Broker is not available to the general public and is opened only to the qualified members of Funds Broker, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the Funds Broker and its Member.
          <br><br>
          As a private transaction, this program is exempt from the US Securities Act of 1933, the US Securities Exchange Act of 1934 and the US Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.
          <br><br>
          You agree that all information, communications, materials coming from Funds Broker are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation.
          <br><br>
          All the data giving by a member to Funds Broker will be only privately used and not disclosed to any third parties. Funds Broker is not responsible or liable for any loss of data.
          <br><br>
          You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.
          <br><br>
          We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms.
          <br><br>
          Funds Broker is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to Funds Broker that you will not use this site in any illegal way and you agree to respect your local, national and international laws.
          <br><br>
          Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.
          <br><br>
          We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.
          <br><br>
          Funds Broker reserves the right to accept or decline any member for membership without explanation. If you do not agree with the above disclaimer
        </div>

        <a id="Team"></a>
        <h2 class="index__small-title index__small-title_mb_49">Our team</h2>

        {{>team/team}}
      {{/wrapper/wrapper}}
    </div>
  </div>
{{/_template/_template}}
