<div class="referal">
  <div class="referal__left">
    {{>green-table/green-table class="referal__table" isReferal="true"}}
  </div>

  <div class="referal__right">
    <div class="referal__desc">
      Use Your personal referral link to invite new investors<br>
      and receive bonuses from their investments
    </div>

    <label class="referal__copy">
      <input type="text" class="referal__input" value="https://muasiss.com/?p=username" disabled>
      {{>icon/icon name="link" class="referal__link"}}
    </label>

    <div class="referal__wrap">
      <div class="referal__info">
        <div class="referal__small-title">My referrals</div>
        <div class="referal__big-title">2</div>
      </div>

      <div class="referal__info">
        <div class="referal__small-title">Active Referrals</div>
        <div class="referal__big-title">0</div>
      </div>
    </div>
  </div>
</div>
