.referal {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__left {
    width: 686px;
    margin-right: 24px;

    @include media('<=desktop') {
      width: calc(100% + 8px + 8px);
      margin-top: 32px;
      margin-right: unset;
      margin-left: -8px;
      overflow: auto;
    }
  }

  &__table {
    width: 100%;
    min-width: max-content;

    @include media('<=phone') {
      .green-table__col-referal {
        margin-right: 20px;

        &:last-child {
          margin-right: unset;
        }
      }
    }
  }

  &__desc {
    margin-bottom: 20px;
    font-family: $font-family--roboto;
    font-size: 14px;
    line-height: 16px;
    color: #fff;

    @include media('<=desktop') {
      text-align: center;
    }
  }

  &__copy {
    @include box-max-content;
    position: relative;
    display: block;
    margin-bottom: 44px;
    cursor: pointer;

    @include media('<=desktop') {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__input {
    @include reset-input;
    width: 292px;
    height: 43px;
    padding-right: 40px;
    padding-left: 22px;
    font-family: $font-family--roboto;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    background: #c4c4c4;
    border-radius: 10px;
  }

  &__link {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 18px;
    height: 18px;
    color: #000;
    transform: translateY(-50%);
  }

  &__wrap {
    display: flex;
    justify-content: center;
    width: 292px;

    @include media('<=desktop') {
      width: 100%;
    }
  }

  &__info {
    margin-right: 32px;
    text-align: center;

    &:last-child {
      margin-right: unset;
    }
  }

  &__small-title {
    font-family: $font-family--roboto;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-align: center;
  }

  &__right {
    @include media('<=desktop') {
      margin: 0 auto;
    }
  }

  &__big-title {
    margin-top: 8px;
    font-family: $font-family--roboto;
    font-size: 36px;
    color: #fff;
    text-align: center;
  }

  @include media('<=desktop') {
    flex-direction: column-reverse;
  }
}
