.account {
  display: flex;
  justify-content: center;

  &__col {
    width: 225px;
    margin-right: 78px;

    &:last-child {
      margin-right: unset;
    }

    @include media('<=desktop') {
      width: 100%;
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }

  &__wrap-image {
    @include box-max-content;
    position: relative;
    margin: 0 auto 26px auto;
  }

  &__avatar {
    @include background-image;
    @include circle;
    width: 91px;
    height: 91px;
  }

  &__icon {
    position: absolute;
    right: -23px;
    bottom: 1px;
    width: 22px;
    height: 22px;
    color: #fff;
  }

  &__input {
    margin-bottom: 19px;

    &_pl_80 {
      input {
        padding-left: 80px !important;
      }
    }

    &_pl_85 {
      input {
        padding-left: 85px !important;
      }
    }

    &_pl_95 {
      input {
        padding-left: 95px !important;
      }
    }

    &_pl_75 {
      input {
        padding-left: 75px !important;
      }
    }

    &_pl_120 {
      input {
        padding-left: 120px !important;
      }
    }

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__wrap-flex {
    display: flex;
    margin: 32px 0 41px 0;
  }

  &__btn {
    @include reset-button;
    @include flex-center;
    width: 100%;
    height: 40px;
    margin-right: 20px;
    font-family: $font-family--roboto;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    background: #c4c4c4;
    border-radius: 10px;

    &:last-child {
      margin-right: unset;
    }
  }

  &__change {
    font-family: $font-family--roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #fff;
    text-align: center;
    text-decoration-line: underline;
    cursor: pointer;
  }

  @include media('<=desktop') {
    display: block;
  }
}
