<div class="account">
  <div class="account__col">
    <div class="account__wrap-image">
      <div class="account__avatar" style="background-image: url('/assets/images/personal.jpg');"></div>
      {{>icon/icon name="settings" class="account__icon"}}
    </div>

    <div class="account__list">
      {{>input-grey/input-grey theme="blue" class="account__input" label="Login:" placeholder="Muasiss"}}
      {{>input-grey/input-grey theme="blue" class="account__input" label="Name:" placeholder="Evgeniy"}}
      {{>input-grey/input-grey theme="blue" class="account__input" label="Email:" placeholder="Muasiss@gmail.com"}}
    </div>
  </div>

  <div class="account__col">
    {{>input-grey/input-grey theme="green" class="account__input account__input_pl_80" label="Bitcoin:"}}
    {{>input-grey/input-grey theme="green" class="account__input account__input_pl_85" label="Litecoin:"}}
    {{>input-grey/input-grey theme="green" class="account__input account__input_pl_95" label="Dash coin:"}}
    {{>input-grey/input-grey theme="green" class="account__input account__input_pl_75" label="Zcash:"}}
    {{>input-grey/input-grey theme="green" class="account__input account__input_pl_85" label="Monero:"}}
  </div>

  <div class="account__col">
    <div class="account__list">
      {{>input-grey/input-grey theme="green" class="account__input account__input_pl_120" label="Perfect Money:"}}
      {{>input-grey/input-grey theme="green" class="account__input account__input_pl_75" label="Payeer:"}}
    </div>

    <div class="account__wrap-flex">
      <button class="account__btn">Save</button>
      <button class="account__btn">Edit</button>
    </div>

    <div class="account__change js-open-pop" data-out="reset">Change your password</div>
  </div>
</div>
