.green-table {
  width: 100%;
  padding: 20px 66px 12px 66px;
  background: linear-gradient(180deg, #2f824f 0%, rgba(196, 196, 196, 0) 100%);
  border-radius: 15px 15px 0 0;

  &__line {
    display: flex;
    justify-content: space-between;
    font-family: $font-family--robotoSlab;

    &--header {
      margin-bottom: 19px;
      font-size: 16px;
      line-height: 21px;
      color: #fff;
    }

    &--body {
      display: flex;
      align-items: center;
      height: 26px;
      font-size: 14px;
      line-height: 18px;
      color: #000;
      background: linear-gradient(90deg, rgba(44, 70, 95, 0) 0%, rgba(164, 183, 46, 0.3) 53.12%, rgba(0, 40, 77, 0) 100%);

      &:nth-child(odd) {
        color: #fff;
        background: linear-gradient(90deg, rgba(44, 70, 95, 0) 0%, rgba(183, 46, 46, 0.3) 53.12%, rgba(0, 40, 77, 0) 100%);
      }
    }
  }

  &__col-referal {
    &:nth-child(1) {
      width: 68px;
    }

    &:nth-child(2) {
      width: 70px;
    }

    &:nth-child(3) {
      width: 110px;
      text-align: center;
    }

    &:nth-child(4) {
      width: 136px;
      text-align: right;
    }
  }

  &__col {
    &:nth-child(1) {
      width: 68px;
    }

    &:nth-child(2) {
      width: 90px;
    }

    &:nth-child(3) {
      width: 130px;
    }

    &:nth-child(4) {
      width: 60px;
    }

    &:nth-child(5) {
      width: 50px;
    }
  }

  &__desc {
    margin-top: 10px;
    font-family: $font-family--robotoSlab;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: center;
  }

  @include media('<=tablet') {
    padding: 20px 12px 12px 12px;
  }
}
