{{#if isReferal}}
  <div class="green-table {{class}}">

    <div class="green-table__line green-table__line--header">
      <div class="green-table__col-referal">Data</div>
      <div class="green-table__col-referal">Login</div>
      <div class="green-table__col-referal">Active deposit</div>
      <div class="green-table__col-referal">Contacts</div>
    </div>

    <div class="green-table__body">
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col-referal">19.08.2020</div>
        <div class="green-table__col-referal">Username</div>
        <div class="green-table__col-referal">$0.00</div>
        <div class="green-table__col-referal">info@username.com</div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col-referal">19.08.2020</div>
        <div class="green-table__col-referal">Username</div>
        <div class="green-table__col-referal">$0.00</div>
        <div class="green-table__col-referal">info@username.com</div>
      </div>

      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
    </div>

    <div class="green-table__desc">1 - (2)</div>
  </div>
{{else}}
  <div class="green-table {{class}}">

    <div class="green-table__line green-table__line--header">
      <div class="green-table__col">Start</div>
      <div class="green-table__col">Completion</div>
      <div class="green-table__col">Amount deposit</div>
      <div class="green-table__col">Income</div>
      <div class="green-table__col">Status</div>
    </div>

    <div class="green-table__body">
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col">19.08.2020</div>
        <div class="green-table__col">21.02.2021</div>
        <div class="green-table__col">$100.00 balance</div>
        <div class="green-table__col">$0.00</div>
        <div class="green-table__col">Active</div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col">19.08.2020</div>
        <div class="green-table__col">21.02.2021</div>
        <div class="green-table__col">$100.00 balance</div>
        <div class="green-table__col">$13.15</div>
        <div class="green-table__col">Closed</div>
      </div>

      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
      <div class="green-table__line green-table__line--body">
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
        <div class="green-table__col"></div>
      </div>
    </div>

    <div class="green-table__desc">You don't have any open deposits top up your balance and open a Deposit</div>
  </div>
{{/if}}
