<div class="invest">
  <div class="invest__top">
    {{>input-def/input-def class="invest__input" placeholder="Name"}}
    {{>input-def/input-def class="invest__input" placeholder="Login"}}
    {{>input-def/input-def class="invest__input" placeholder="Email"}}
  </div>

  <div class="invest__bot">
    {{>button/button class="invest__button" theme="blue" text="Send registration"}}
    <div class="invest__right">
      <div class="invest__successful">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
      <div class="invest__error">404 ERROR EMAI</div>
    </div>
  </div>
</div>
