.invest {
  margin-top: 59px;
  margin-bottom: 62px;

  &__top {
    display: flex;
    margin-bottom: 20px;

    @include media('<=desktop') {
      display: block;
    }
  }

  &__bot {
    display: flex;
    align-items: center;

    @include media('<=desktop') {
      flex-direction: column-reverse;
    }
  }

  &__input {
    margin-right: 20px;

    &:last-child {
      margin-right: unset;
    }

    @include media('<=desktop') {
      display: block;
      margin-right: unset;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }

  &__button {
    @include media('<=desktop') {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__right {
    margin-left: 30px;
    font-family: $font-family--roboto;
    font-size: 16px;
    line-height: 19px;

    @include media('<=desktop') {
      margin-left: unset;
    }
  }

  &__successful {
    color: #25933d;

    @include media('<=desktop') {
      text-align: center;
    }
  }

  &__error {
    color: #6b6b6b;

    @include media('<=desktop') {
      text-align: center;
    }
  }
}
