<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Muasiss</title>
</head>
<body>
{{>header/header}}

{{#if @partial-block}}
  {{>@partial-block}}
{{/if}}

{{>footer/footer}}

{{>registration/registration}}
{{>login/login}}
{{>login/login reset="true"}}
{{>reset/reset}}
{{>agreement/agreement}}
</body>
</html>
