.list-btc {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: calc(58px - 50px) 0 84px -117px;

  &__wrap {
    @include box-min-content;
    margin: 36px 0 0 117px;

    @include media('<=phone') {
      margin: 36px 0 0 42px;
    }
  }

  &__box-image {
    @include flex-center;
    width: 101px;
    height: 101px;
    margin-bottom: 22px;
  }

  &__image {
    @include circle;
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__text {
    @include box-max-content;
    @include flex-center;
    position: relative;
    margin: 0 auto 10px auto;
    font-family: $font-family--roboto;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.05em;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__icon-info {
    position: absolute;
    left: calc(100% + 4px);
    width: 13px;
    height: 10px;

    &--top {
      color: #45b932;
    }

    &--bottom {
      color: #b93232;
      transform: rotate(180deg);
    }
  }

  &__box {
    position: absolute;
    bottom: 39px;
    left: calc(100% - 568px);
    width: 100vw;
    padding: 20px 0 28px 50px;
    font-family: $font-family--robotoSlab;
    font-size: 36px;
    font-weight: bold;
    line-height: 47px;
    color: #3078af;
    background: linear-gradient(92.59deg, rgba(#6d9fbb, 0.46) 0%, rgba(#7f7f7f, 0.46) 94.31%);
    border-radius: 21px 0 0 21px;

    @include media('<=desktop') {
      display: none;
    }
  }

  @include media('<=desktop') {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media('<=phone') {
    margin: calc(58px - 50px) 0 84px -42px;
  }
}
