<div class="list-btc">

  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/bitcoin2.jpg" alt="bitcoin2.jpg">
    </div>

    <div class="list-btc__text">Bitcoin</div>
    <div class="list-btc__text">0.0000000 btc</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--top"}}
    </div>
  </div>
  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/ethereum2.jpg" alt="ethereum2.jpg">
    </div>

    <div class="list-btc__text">Ethereum</div>
    <div class="list-btc__text">0.0000000 btc</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--top"}}
    </div>
  </div>
  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/litecoin2.jpg" alt="litecoin2.jpg">
    </div>

    <div class="list-btc__text">Litecoin</div>
    <div class="list-btc__text">0.0000000 btc</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--top"}}
    </div>
  </div>
  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/dash2.jpg" alt="dash2.jpg">
    </div>

    <div class="list-btc__text">Dash</div>
    <div class="list-btc__text">0.0000000 btc</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--top"}}
    </div>
  </div>
  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/ripple2.jpg" alt="ripple2.jpg">
    </div>

    <div class="list-btc__text">Ripple</div>
    <div class="list-btc__text">0.0000000 btc</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--bottom"}}
    </div>
  </div>
  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/zcash2.jpg" alt="zcash2.jpg">
    </div>

    <div class="list-btc__text">Zcash</div>
    <div class="list-btc__text">0.0000000 btc</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--top"}}
    </div>
  </div>
  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/monero2.jpg" alt="monero2.jpg">
    </div>

    <div class="list-btc__text">Monero</div>
    <div class="list-btc__text">0.0000000 btc</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--top"}}
    </div>
  </div>
  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/PerfectMoney2.jpg" alt="PerfectMoney2.jpg">
    </div>

    <div class="list-btc__text">Perfect Money</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--top"}}
    </div>
  </div>
  <div class="list-btc__wrap">
    <div class="list-btc__box-image">
      <img class="list-btc__image" src="/assets/images/payeer2.jpg" alt="payeer2.jpg">
    </div>

    <div class="list-btc__text">Payeer</div>
    <div class="list-btc__text">
      312,98$
      {{>icon/icon name="arrow-top" class="list-btc__icon-info list-btc__icon-info--bottom"}}
    </div>
  </div>

  <div class="list-btc__box">
    Large-scale development<br>
    is planned for February 2021
  </div>
</div>
