.input-def {
  position: relative;
  width: 100%;
  $self: &;

  &__input {
    @include reset-input;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    font-family: $font-family--roboto;
    font-size: 18px;
    color: $white;
    background: #636363;
    border-radius: 10px;

    &:invalid {
      color: #000;
      background: #c4c4c4;

      & + #{$self}__label {
        display: none;
      }

      &::placeholder {
        color: #000;
      }
    }
  }

  &__label {
    position: absolute;
    right: 24px;
    bottom: 100%;
    padding: 3px 19px;
    font-family: $font-family--roboto;
    font-size: 12px;
    color: #636363;
    background: #fff;
    border-radius: 5px;
    transform: translateY(50%);
  }
}
