<div class="wrap-input {{class}}">
  <div class="wrap-input__title">{{title}}</div>
  {{#if isSelect}}
    {{>select/select}}
  {{else if isButton}}
    {{>button/button text=value theme="gradient" arrow=arrow}}
  {{else}}
    <label class="wrap-input__wrap">
      <input type="text" class="wrap-input__input" value="{{value}}">

      {{#if isBalance}}
        <div class="wrap-input__balance">balance 6.49 $</div>
      {{/if}}
    </label>
  {{/if}}

  {{#if desc}}
    <div class="wrap-input__desc">{{desc}}</div>
  {{/if}}
</div>
