.wrap-input {
  width: 235px;

  &__title {
    padding-left: 15px;
    margin-bottom: 7px;
    font-family: $font-family--roboto;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }

  &__input {
    @include reset-input;
    width: 100%;
    height: 43px;
    padding: 0 15px;
    font-family: $font-family--roboto;
    font-size: 18px;
    color: #000;
    background: #c4c4c4;
    border-radius: 10px;
  }

  &__desc {
    padding-left: 15px;
    margin-top: 9px;
    font-family: $font-family--roboto;
    font-size: 13px;
    line-height: 15px;
    color: #c4c4c4;
  }

  &__balance {
    position: absolute;
    top: 50%;
    right: 18px;
    font-family: $font-family--roboto;
    font-size: 13px;
    line-height: 15px;
    color: #474747;
    transform: translateY(-50%);
  }

  &__wrap {
    position: relative;
    display: block;
  }

  .button {
    width: 100%;
  }
}
