.header {
  @include background-image;
  background-image: url('/assets/images/header.jpg');

  &__top {
    @include flex-between;
    padding-top: 30px;

    @include media('<=desktop') {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: 107px;

    @include media('<=desktop') {
      display: none;
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    @include reset-link;
    @include transition-all;
    margin-right: 60px;
    font-family: $font-family--roboto;
    font-size: 16px;
    line-height: 19px;
    color: #eee;

    &:last-child {
      margin-right: unset;
    }

    &:hover {
      color: #127ab5;
    }
  }

  &__wrap {
    display: flex;
    margin-left: 96px;

    @include media('<=desktop') {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;

    @include media('>desktop') {
      height: calc(100vh - 115px - 175px);
    }

    @include media('<=phone') {
      padding: 20px 0;
    }
  }

  &__title {
    max-width: 546px;
    margin-bottom: 25px;
    font-family: $font-family--roboto;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    color: #eee;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @include media('<=desktop') {
      max-width: 100%;
      text-align: center;
    }

    @include media('<=phone') {
      font-size: 25px;
      line-height: 30px;

      b {
        display: block;
      }
    }
  }

  &__desc {
    max-width: 546px;
    margin-bottom: 56px;
    font-family: $font-family--roboto;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #dcd9d5;
    letter-spacing: 0.1em;

    @include media('<=desktop') {
      max-width: 100%;
      text-align: center;
    }

    @include media('<=phone') {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__wrap-mobile-center {
    @include media('<=desktop') {
      display: flex;
      justify-content: center;
    }
  }

  &__mobile-color {
    position: relative;
    overflow: unset !important;

    @include media('<=desktop') {
      background-color: #020d0f;
    }
  }

  &__hamburger {
    display: none;
    margin-left: 30px;

    @include media('<=desktop') {
      display: block;
    }
  }
}
