<div class="header">

    {{#>wrapper/wrapper class="header__mobile-color"}}
    <div class="header__top">
      <div class="header__left">
        {{>logo/logo}}

        <nav class="header__nav">
          <a href="#Financial-model" class="header__link">Financial model</a>
          <a href="#FAQ" class="header__link">FAQ</a>
          <a href="#Support" class="header__link">Support</a>
          <a href="#Rules" class="header__link">Rules</a>
          <a href="#Team" class="header__link">Team</a>
        </nav>
      </div>

      <div class="header__right">
        {{>language/language}}

        <div class="header__wrap">
          {{>button/button class="js-open-pop" data="register" text="Create account" theme="gradient-grey"}}
          {{>button/button class="js-open-pop" data="login" text="Log in" theme="gradient-blue"}}
        </div>

        <div class="header__hamburger">
          {{>hamburger/hamburger}}
        </div>
      </div>
    </div>

      {{>mobile-menu/mobile-menu}}
    {{/wrapper/wrapper}}

  {{#>wrapper/wrapper}}
    <div class="header__inner">
      <h1 class="header__title">Work for a free investor<br> yield from 0.2% to 0.6% per day</h1>
      <p class="header__desc">Reliable investments with a proven team<br> Risks when using the purchased investment tariff - 20%</p>
      <div class="header__wrap-mobile-center">
        {{>button/button class="js-open-pop" data="agreement" text="Join new" theme="dark"}}
      </div>
    </div>
  {{/wrapper/wrapper}}
</div>
