.about-us {
  margin-bottom: 78px;

  &__line {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 18px;
    }

    @include media('<=desktop') {
      display: block;
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    width: 590px;
    overflow: hidden;
    background: #c4c4c4;
    border-radius: 15px;

    @include media('<=desktop') {
      width: 100%;

      &:first-child {
        margin-bottom: 18px;
      }
    }
  }

  &__image {
    @include background-image;
    flex-shrink: 0;
    width: 181px;
    min-height: 196px;

    @include media('<=phone') {
      width: 70px;
    }
  }

  &__inner {
    padding: 16px 20px 20px 20px;
  }

  &__title {
    margin-bottom: 18px;
    font-family: $font-family--robotoSlab;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    color: #000;
    letter-spacing: 0.05em;

    @include media('<=phone') {
      margin-bottom: 12px;
      font-size: 16px;
      line-height: unset;
    }
  }

  &__desc {
    font-family: $font-family--roboto;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    letter-spacing: 0.05em;

    @include media('<=phone') {
      margin-bottom: 15px;
    }
  }

  &__site {
    @include reset-link;
    display: block;
    margin-top: 4px;
    font-family: $font-family--robotoSlab;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    text-align: right;
    letter-spacing: 0.05em;

    @include media('<=desktop') {
      position: absolute;
      right: 19px;
      bottom: 17px;
    }
  }
}
