<div class="about-us">
  <div class="about-us__line">
    <a href="#" class="about-us__wrap">
      <div class="about-us__image" style="background-image: url('/assets/images/about-1.jpg');"></div>
      <div class="about-us__inner">
        <h6 class="about-us__title">Cryptozalupito.io</h6>
        <p class="about-us__desc">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit,
          sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
          Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra
          maecenas accumsan lacus vel facilisis.
        </p>

        <div class="about-us__site">Go to site</div>
      </div>
    </a>

    <a href="#" class="about-us__wrap">
      <div class="about-us__image" style="background-image: url('/assets/images/about-2.jpg');"></div>
      <div class="about-us__inner">
        <h6 class="about-us__title">Cryptozalupito.io</h6>
        <p class="about-us__desc">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit,
          sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
          Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra
          maecenas accumsan lacus vel facilisis.
        </p>

        <div class="about-us__site">Go to site</div>
      </div>
    </a>
  </div>

  <div class="about-us__line">
    <a href="#" class="about-us__wrap">
      <div class="about-us__image" style="background-image: url('/assets/images/about-3.jpg');"></div>
      <div class="about-us__inner">
        <h6 class="about-us__title">Cryptozalupito.io</h6>
        <p class="about-us__desc">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit,
          sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
          Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra
          maecenas accumsan lacus vel facilisis.
        </p>

        <div class="about-us__site">Go to site</div>
      </div>
    </a>

    <a href="#" class="about-us__wrap">
      <div class="about-us__image" style="background-image: url('/assets/images/about-4.jpg');"></div>
      <div class="about-us__inner">
        <h6 class="about-us__title">Cryptozalupito.io</h6>
        <p class="about-us__desc">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit,
          sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
          Quis ipsum suspendisse ultrices
          gravida. Risus commodo viverra
          maecenas accumsan lacus vel facilisis.
        </p>

        <div class="about-us__site">Go to site</div>
      </div>
    </a>
  </div>
</div>
