.statics {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 52px;
  margin-bottom: 78px;
  overflow: hidden;
  background: #525354;
  border-radius: 20px;

  &__title {
    position: absolute;
    top: 20px;
    right: 31px;
    font-family: $font-family--robotoSlab;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @include media('<=desktop') {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    padding-top: 73px;
    padding-bottom: 20px;

    @include media('<=desktop') {
      display: none;
    }
  }

  &__box {
    padding: 8px 23px 12px 23px;
    margin-bottom: 12px;
    border-radius: 10px 0 0 5px;

    &:last-child {
      margin-bottom: unset;
    }

    &--p1 {
      width: 257px;
      background: #957171;
    }

    &--p2 {
      width: 205px;
      background: #748066;
    }

    &--p3 {
      width: 244px;
      background: #878787;
    }

    &--p4 {
      width: 300px;
      background: #c6c6c6;
    }
  }

  &__small-title {
    font-family: $font-family--robotoSlab;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05em;
  }

  &__value {
    margin-top: 6px;
    font-family: $font-family--robotoSlab;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05em;
  }

  @include media('<=phone') {
    width: calc(100% + 12px + 12px);
    margin-left: -12px;
    border-radius: 8px;
  }
}
