<div class="statics">
  {{>table/table}}

  <h3 class="statics__title">Statistik</h3>

  <div class="statics__list">
    <div class="statics__box statics__box--p1">
      <div class="statics__small-title">Registrations</div>
      <div class="statics__value">1198</div>
    </div>

    <div class="statics__box statics__box--p2">
      <div class="statics__small-title">Deposit amount</div>
      <div class="statics__value">$11,986</div>
    </div>

    <div class="statics__box statics__box--p3">
      <div class="statics__small-title">Withdrawal</div>
      <div class="statics__value">$986</div>
    </div>

    <div class="statics__box statics__box--p4">
      <div class="statics__small-title">Bank project <span style="color: #323232;">Muasiss</span></div>
      <div class="statics__value">$38,417</div>
    </div>
  </div>
</div>
