.feedback {
  display: flex;
  align-items: flex-end;
  margin-bottom: 96px;

  &__left {
    width: 790px;
    margin-right: 60px;

    @include media('<=desktop') {
      width: 100%;
      margin-right: unset;
    }
  }

  &__list {
    @include media('<=desktop') {
      display: none;
    }
  }

  &__wrap {
    display: flex;
    margin-bottom: 26px;

    @include media('<=phone') {
      display: block;
      margin-bottom: 18px;
    }
  }

  &__input {
    margin-right: 20px;

    &:last-child {
      margin-right: unset;
    }

    @include media('<=phone') {
      display: block;
      margin-right: unset;
      margin-bottom: 18px;
    }
  }

  &__textarea {
    @include reset-input;
    width: 100%;
    height: 293px;
    padding: 30px 18px;
    font-family: $font-family--roboto;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    resize: none;
    background: #c4c4c4;
    border-radius: 10px;

    &::placeholder {
      color: #fff;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
    font-family: $font-family--roboto;
    font-size: 18px;
    color: #000;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  &__send {
    margin: 74px auto 0 auto;

    @include media('<=desktop') {
      width: 100%;
      margin-top: 20px;
    }
  }

  @include media('<=desktop') {
    display: block;
  }
}
