<form method="post" class="feedback">
  <div class="feedback__left">
    <div class="feedback__wrap">
      {{>input-def/input-def class="feedback__input" placeholder="Name"}}
      {{>input-def/input-def class="feedback__input" placeholder="Email"}}
    </div>

    <label>
      <textarea class="feedback__textarea" placeholder="Write the message text"></textarea>
    </label>
  </div>

  <div class="feedback__right">
    <div class="feedback__list">
      <div class="feedback__line">
        {{>icon/icon name="globe" class="feedback__icon"}}
        Site address: www.muasiss.com
      </div>
      <div class="feedback__line">
        {{>icon/icon name="mail" class="feedback__icon"}}
        Email address: info@muasiss.com
      </div>
      <div class="feedback__line">
        {{>icon/icon name="file-text" class="feedback__icon"}}
        License number: 4598745
      </div>
      <div class="feedback__line">
        {{>icon/icon name="watch" class="feedback__icon"}}
        Operating time: from 8:00 to 21:00
      </div>
    </div>

    {{>button/button text="Send message" theme="send" send="true" class="feedback__send"}}
  </div>
</form>
