.footer {
  background: #020d0f;

  &__inner {
    @include flex-between;
    height: 397px;

    @include media('<=desktop') {
      display: block;
      height: auto;
      padding: 16px 0;
    }

    &_isProfile_true {
      height: 218px;

      @include media('<=desktop') {
        height: auto;
      }
    }
  }

  &__box-logo {
    @include box-max-content;
    margin-right: 72px;

    @include media('<=desktop') {
      margin: 0 auto 42px auto;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__name {
    font-family: $font-family--robotoSlab;
    font-size: 46px;
    font-weight: bold;
    line-height: 62px;
    color: #eee;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include media('<=phone') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @include media('<=phone') {
      &:first-child {
        margin-bottom: 16px;
      }
    }
  }

  &__desc {
    margin-top: 36px;
    font-family: $font-family--roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #fff;

    @include media('<=desktop') {
      text-align: justify;
    }
  }

  &__link {
    margin-right: 64px;
    font-family: $font-family--roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #fff;

    &--big {
      margin-right: 18px;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
    }

    &:last-child {
      margin-right: unset;
    }

    @include media('<=desktop') {
      margin-right: 12px;
      font-size: 14px;
      line-height: unset;
    }
  }

  &__social {
    display: flex;
    margin-right: 86px;
  }

  &__item {
    margin-right: 17px;

    &:last-child {
      margin-right: unset;
    }
  }
}
