<div class="footer">
  {{#>wrapper/wrapper}}
    <div class="footer__inner footer__inner_isProfile_{{isProfile}}">
      <div class="footer__box-logo">
        <img class="footer__image" src="/assets/images/logo-big.png" alt="logo-big.png">
        <div class="footer__name">Muasiss</div>
      </div>

      <div class="footer__right">
        <div class="footer__list">
          <nav class="footer__nav">
            <a href="#" class="footer__link">Financial model</a>
            <a href="#" class="footer__link">FAQ</a>
            <a href="#" class="footer__link">Support</a>
            <a href="#" class="footer__link">Rules</a>
            <a href="#" class="footer__link">Team</a>
          </nav>

          <div class="footer__nav">
            {{#if isProfile}}
              <div class="footer__social">
                <img class="footer__item" src="/assets/images/vk.png" alt="vk.png">
                <img class="footer__item" src="/assets/images/fb.png" alt="fb.png">
              </div>

              <a href="#" class="footer__link footer__link--big">Log out</a>
            {{else}}
              <a href="#" class="footer__link footer__link--big">Creat accaunt</a>
              <span class="footer__link footer__link--big">|</span>
              <a href="#" class="footer__link footer__link--big">Log in</a>
            {{/if}}
          </div>
        </div>

        <div class="footer__desc">
          Users can only have 1 account per person.
          Creation of multiple accounts may lead to
          disruption of account usage and suspension
          of both the accounts and the funds in the
          affected accounts. Please do not cheat our
          referral program by creating multiple accounts
          to hoard commissions. We already pay a good percentage
          for commissions and it is expected that users will
          comply in full.
        </div>
      </div>
    </div>
  {{/wrapper/wrapper}}
</div>
