.withdraw {
  &__line {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    & > * {
      margin-right: 59px;

      &:last-child {
        margin-right: unset;
      }

      @include media('<=desktop') {
        width: 100%;
        margin-right: unset;
        margin-bottom: 18px;
      }
    }

    @include media('<=desktop') {
      display: block;
      margin-bottom: unset;
    }
  }

  &__button {
    width: 529px;
    margin: 0 auto 52px auto;

    @include media('<=desktop') {
      width: 100%;
      margin-top: 50px;
    }
  }

  &__desc {
    width: 580px;
    padding: 5px 0;
    margin: 0 auto;
    font-family: $font-family--roboto;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: radial-gradient(34.67% 10853.55% at 48.15% 50%, #2c825c 0%, rgba(51, 75, 137, 0.421875) 81.25%, rgba(196, 196, 196, 0) 100%);

    a {
      display: inline;
      text-decoration: underline;
    }

    @include media('<=desktop') {
      width: 100%;
    }
  }

  &__info {
    margin-top: 8px;
    font-family: $font-family--roboto;
    font-size: 18px;
    color: #28ad4c;
    text-align: center;
  }
}
