<div class="withdraw">

  <div class="withdraw__line">
    {{>wrap-input/wrap-input title="Amout $" value="$50.00" desc="Minimum: 0.2$"}}
    {{>wrap-input/wrap-input title="Payment system" isSelect="true"}}
  </div>

  {{>button/button class="withdraw__button" text="Withdraw profit" theme="gradient"}}

  <div class="withdraw__desc">
    Enter your wallet number in the section <a href="#">Profile</a>
  </div>

  <div class="withdraw__info">Will go to the balance 4.05 USD</div>
</div>
