.table {
  @include box-max-content;
  background: #606264;
  $self: &;

  &__line {
    display: flex;
    font-family: $font-family--robotoSlab;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #b5b5b5;

    @include media('<=phone') {
      font-size: 12px;
    }

    &--header {
      font-size: 16px;

      #{$self}__col {
        padding: 21px 0;
      }

      @include media('<=phone') {
        font-size: 14px;
      }
    }

    &--inner {
      &:nth-child(even) {
        color: #b4b4b4;
      }

      &:last-child {
        border-bottom: unset;
      }

      #{$self}__col {
        padding: 12px 0;
      }
    }
  }

  &__col {
    flex-shrink: 0;
    text-align: center;
    border-right: 1px solid #b5b5b5;

    &:nth-child(1) {
      width: 88px;

      @include media('<=phone') {
        width: 55px;
      }
    }

    &:nth-child(2) {
      width: 155px;

      @include media('<=phone') {
        flex-shrink: 1;
        width: 100%;
        line-height: 140%;
      }
    }

    &:nth-child(3) {
      width: 406px;

      @include media('<=desktop') {
        flex-shrink: 1;
        width: 100%;
        line-height: 140%;
      }
    }

    &:nth-child(4) {
      width: 167px;

      @include media('<=phone') {
        width: 100px;
      }
    }

    @include media('<=phone') {
      @include flex-center;
    }
  }

  @include media('<=desktop') {
    width: 100%;
  }
}
