<div class="table">
  <div class="table__line table__line--header">
    <div class="table__col">№</div>
    <div class="table__col">Partner</div>
    <div class="table__col">Operations</div>
    <div class="table__col">Data</div>
  </div>

  <div class="table__inner">
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
    <div class="table__line table__line--inner">
      <div class="table__col">193</div>
      <div class="table__col">AlexWagner</div>
      <div class="table__col">Open Deposit 500$</div>
      <div class="table__col">22/05/2020</div>
    </div>
  </div>
</div>
