.profile-header {
  position: relative;
  background: #020d0f;

  &__inner {
    @include flex-between;
    width: 100%;
    height: 72px;
  }

  &__wrap {
    display: flex;
    align-items: center;

    &--desktop {
      @include media('<=desktop') {
        display: none;
      }
    }

    &--block {
      display: block;
    }
  }

  &__logo {
    margin-left: 12px;
    font-family: $font-family--robotoSlab;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  &__limit {
    font-family: $font-family--roboto;
    font-size: 14px;
    font-weight: bold;
    color: #adff00;

    @include media('<=desktop') {
      display: none;
    }
  }

  &__text {
    font-family: $font-family--roboto;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }

  &__box {
    display: flex;
    height: 25px;
    margin-left: 4px;
    overflow: hidden;
    border-radius: 4px;

    &--menu {
      width: max-content;
      margin-left: unset;
    }
  }

  &__currency {
    @include flex-center;
    width: 46px;
    height: 100%;
    font-family: $font-family--roboto;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(94.96deg, #338341 0%, #238288 68.32%, #1781c0 138.08%);
  }

  &__value {
    @include flex-center;
    justify-content: flex-start;
    width: 94px;
    height: 100%;
    padding-left: 9px;
    font-family: $font-family--roboto;
    font-size: 14px;
    line-height: 16px;
    background: #c4c4c4;
  }

  &__money {
    margin-right: 16px;
  }

  &__avatar {
    @include circle;
    margin-right: 14px;
  }

  &__mobile {
    display: none;

    @include media('<=desktop') {
      display: block;
    }
  }
}
