<div class="profile-header">
  {{#>wrapper/wrapper}}
    <div class="profile-header__inner">

      <div class="profile-header__wrap">
        <img src="/assets/images/logo-small.png" alt="logo-small.png">
        <div class="profile-header__logo">Muasiss</div>
      </div>

      <div class="profile-header__limit">Working online: 100 days</div>

      <div class="profile-header__wrap profile-header__wrap--desktop">
        <div class="profile-header__text">Balance:</div>
        <div class="profile-header__box">
          <div class="profile-header__value">$100.00</div>
          <div class="profile-header__currency">USD</div>
        </div>
      </div>

      <div class="profile-header__wrap profile-header__wrap--desktop">
        <img class="profile-header__money" src="/assets/images/money.png" alt="money.png">
        <div class="profile-header__info">
          <div class="profile-header__text">Invested: $0.00</div>
          <div class="profile-header__text">Earned: $0.00</div>
        </div>
      </div>

      <div class="profile-header__wrap profile-header__wrap--desktop">
        <img class="profile-header__avatar" src="/assets/images/avatar.jpg" alt="avatar.jpg">
        <div class="profile-header__info">
          <div class="profile-header__text">Partner: Username</div>
          <div class="profile-header__text">Registration data: 10.10.2020</div>
        </div>
      </div>

      <div class="profile-header__mobile">
        {{>hamburger/hamburger}}
      </div>
    </div>
  {{/wrapper/wrapper}}

  {{>mobile-menu/mobile-menu isProfile="true"}}
</div>
