{{#>popup/popup data="login"}}
  <div class="login">
    <div class="login__title">Login</div>

    {{#if reset}}
      <div class="login__list login__list--reset">
        {{>input-grey/input-grey class="login__input" label="Email" placeholder="Enter your email address"}}
      </div>
    {{else}}
      <div class="login__list">
        {{>input-grey/input-grey class="login__input" label="Name" placeholder="Enter your name"}}
        {{>input-grey/input-grey class="login__input" label="Login" placeholder="Enter your username"}}
      </div>
    {{/if}}

    {{#if reset}}
    {{else}}
      <div class="login__reset">Forgot your password?</div>
    {{/if}}

    {{>recaptcha/recaptcha}}

    {{>button/button text="Enter" theme="form" class="login__button"}}
  </div>
{{/popup/popup}}
