.login {
  &__title {
    margin-bottom: 26px;
    font-family: $font-family--robotoSlab;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    color: #127ab5;
    text-align: center;
  }

  &__input {
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__list {
    margin-bottom: 16px;

    &--reset {
      margin-bottom: 24px;
    }
  }

  &__reset {
    margin-bottom: 18px;
    font-family: $font-family--roboto;
    font-size: 14px;
    text-decoration-line: underline;
    color: #06f;
    text-align: center;
    cursor: pointer;
  }

  &__button {
    margin: 25px auto 0 auto;
  }
}
