.replenishment {
  &__line {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: unset;
    }

    & > * {
      &:first-child {
        margin-right: 60px;
      }

      @include media('<=desktop') {
        width: 100%;
        margin-right: unset;
        margin-bottom: 16px;
      }
    }

    @include media('<=desktop') {
      display: block;
      margin-bottom: unset;
    }
  }
}
