<div class="replenishment">
  <div class="replenishment__line">
    {{>wrap-input/wrap-input title="Amout" value="0.0100000"}}
    {{>wrap-input/wrap-input title="Get on balance" value="$150,43"}}
  </div>

  <div class="replenishment__line">
    {{>wrap-input/wrap-input title="Purse" isSelect="true"}}
    {{>wrap-input/wrap-input title="&nbsp;" value="Replenish" isButton="true" arrow="true"}}
  </div>
</div>
