// Подключение отдельных переменных
@import 'breakpoints';
@import 'color';
// ---

// Описание шрифтов
$font-family--robotoSlab: 'RobotoSlab', sans-serif;
$font-family--robotoMono: 'RobotoMono', sans-serif;
$font-family--roboto: 'Roboto', sans-serif;
$font-family--tradeWinds: 'TradeWinds', sans-serif;
// ---

// Описание анимации
$transition-duration: 200ms;
$transition-function: ease;
// ---
