.input-white {
  display: block;

  &__input {
    @include reset-input;
    width: 100%;
    height: 42px;
    font-family: $font-family--robotoSlab;
    font-size: 11.3826px;
    color: #000;
    text-align: center;
    background: #fff;
    border-radius: 8px;

    &::placeholder {
      color: #c4c4c4;
    }
  }
}
