.input-grey {
  position: relative;
  display: block;
  width: 100%;
  $self: &;

  &__input {
    @include reset-input;
    width: 100%;
    height: 42px;
    padding-left: 94px;
    font-family: $font-family--robotoSlab;
    font-size: 11px;
    color: #000;
    background: #fff;
    border-radius: 9px;

    &::placeholder {
      color: #c4c4c4;
    }
  }

  &__label {
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-start;
    width: 106px;
    height: 100%;
    padding-left: 18px;
    font-family: $font-family--robotoSlab;
    font-size: 11px;
    color: #fff;
    white-space: nowrap;
    background: linear-gradient(90deg, #818181 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 9px 0 0 9px;
  }

  &_theme_blue,
  &_theme_green {
    #{$self}__label {
      width: 80px;
      padding-top: 1px;
      padding-left: 20px;
      font-family: $font-family--roboto;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      background: linear-gradient(90deg, #38b1cc 0%, rgba(196, 196, 196, 0) 100%);
    }

    #{$self}__input {
      height: 40px;
      padding-left: 76px;
      font-family: $font-family--roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      background: #c4c4c4;

      &::placeholder {
        color: #5a5a5a;
      }
    }
  }

  &_theme_green {
    #{$self}__label {
      background: linear-gradient(90deg, #79cc38 0%, rgba(196, 196, 196, 0) 100%);
    }

    #{$self}__input {
      padding-left: 100px;
    }
  }
}
