<label  class="input-grey input-grey_theme_{{theme}} {{class}}">
  <input type="text" class="input-grey__input" placeholder="{{placeholder}}">
  <span class="input-grey__label">{{label}}</span>
</label>
