{{#>popup/popup data="register"}}
  <div class="registration">
    <div class="registration__title">Registration</div>

    <div class="registration__list">
      {{>input-grey/input-grey class="registration__input" label="Name" placeholder="Enter your name"}}
      {{>input-grey/input-grey class="registration__input" label="Login" placeholder="Enter your username"}}
      {{>input-grey/input-grey class="registration__input" label="Email" placeholder="Enter your email address"}}
      {{>input-grey/input-grey class="registration__input" label="Password" placeholder="Enter your password"}}
      {{>input-grey/input-grey class="registration__input" label="Password" placeholder="Enter your password again"}}
    </div>

    {{>recaptcha/recaptcha}}

    {{>button/button text="Register" theme="form" class="registration__button"}}
  </div>
{{/popup/popup}}
