.reset {
  &__title {
    margin-bottom: 20px;
    font-family: $font-family--robotoSlab;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    color: #127ab5;
    text-align: center;
  }

  &__input {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__list {
    margin-bottom: 29px;
  }

  &__error {
    margin-bottom: 26px;
    font-family: $font-family--robotoSlab;
    font-size: 14px;
    color: #f34040;
    text-align: center;
  }

  &__button {
    margin: 0 auto;
  }
}
