{{#>popup/popup data="reset"}}
  <div class="reset">
    <div class="reset__title">Change your password</div>

    <div class="reset__list">
      {{>input-white/input-white placeholder="Your password" class="reset__input"}}
      {{>input-white/input-white placeholder="New password" class="reset__input"}}
      {{>input-white/input-white placeholder="Repeat password" class="reset__input"}}
    </div>

    <div class="reset__error">
      The new password doesn't match
    </div>

    {{>button/button text="Enter" theme="form" class="reset__button"}}
  </div>
{{/popup/popup}}
